   /*==================================================
  	          Google Teffy Style
  ==================================================*/
  /*you have no idea how many times I have start this again*/

    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      min-width: 100vw;
      font-family: arial,sans-serif;
      overflow: hidden;
    }
    header {
      position: absolute;
      top: 15px;
      left: 10px;
      right: 0;
      width: 100%;
    }
  }

  ol ul {
    list-style: none;
  }

  /* NAV BAR */
  .top-nav {
    float: right;
    margin-right: 25px;
    
  }
    .top-nav li {
    display: inline-flex;
    padding: 8px;
    text-align: rigth;
    padding: 5px 10px 0px 0px;
    vertical-align:bottom;
    margin: 5px 5px 0 0;
    font-size: 13px;
  }
  /*App Icon*/
  .fa {
  	font-size: 20px;
  	vertical-align: top;
  	opacity: 0.7;
  	cursor: pointer;
  }
  .fa:hover {
    opacity: 1.0;
  }

  /*sign in button*/
    #sign_in {
    background-color: #4887ef; 
    margin-right: 25 px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
    position: relative;
    top:3px;
   
  }
    #sign_in a {
      margin: 0 auto;
      font-weight: bold;
      text-align: center;
      color: #FFF;
     
  }
     a {
     text-decoration: none;
     color: inherit;

  }
/*the cool shadow in the box when you select it*/
    #sign_in:hover { 
    box-shadow: 1px 1px 5px #999;
   }

  /*logo*/
   .logo {
    display: block;
    margin-top: 10.5%;
    clear: both;
    width:100%;
    padding:142px 0 20px 0;
  }

  /*Search box*/
   .search {
    -webkit-appearance: none;
  	width: 600px;
    margin: auto;
    border-radius: 22px;
    display: block;
    position: relative fixed;
    padding:12px 0 20px 0;
    
  }
  .search input {
    border: 1px solid #d9d9d9;
  	width: 600px;
    height: 36px;
    line-height:27px;
    padding: 0 16px;
    display: block;
    position: absolute;
    border-radius:15px;
    margin: 11px 4px;
    outline:none;
    font-family: arial;
    font-size: 17px;
   
  }
  .search-input:hover, .search-input:focus {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);}
  /*search Buttons*/

  .button{
    border-radius: 3px;
    align-self: center;
    flex-direction: row;
    margin-top: 5%;
  } 

  #gsearch{
    font:  14px Arial, sans-serif;
    width: 150px;
    height: 40px;
    color:#5F6368;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    border-radius: 4px;
    }
    
    /*cool shade when selected*/
    #gsearch:hover {
      border-width: 1px;
      box-shadow: 0px 0px 2px gray;}
      
    #lucky {
     font: 14px Arial, sans-serif;
     width: 150px;
     height: 40px;
     color:#5F6368;
     background-color: #f2f2f2;
     border: 1px solid #f2f2f2;
     border-radius: 4px;
      }
       /*cool shade when selected*/
    #lucky:hover{
    border-width: 1px;
    box-shadow: 0px 0px 2px gray;
    }
      
  /*sorry if is not in Thai, I only speak Eng-Sp*/

    #language {
    font: sans-serif 10px;
    height: 30px;
    margin-bottom: 20.5%;
    }
       
    #language a {color:blue;
      }
   /*my current location*/
    #location{
    font-family:arial, san-serif;
    height:35px;
    color: rgba(0,0,0,.54);
    font-size:15px;
    margin-left:30px;
    text-align:left;
    display:block;
    
  }
  
.mid{position: absolute;
     display: flex;
     flex-direction: column;
     align-items: center;
    min-height: 1220px;}
footer {
    border-top: 1px solid #dfe1e5;
    background: #f2f2f2;
    width: 100%;
  }
footer a {
    color: #5f6368;
    padding-left: 27px;

    }
hr
  { 
  border: .5px solid Gainsboro;
}

#left ul li{
          float: left;
          display: flex;
          padding-top: 11px;
          padding-bottom: 11px;
          vertical-align: bottom;
          list-style: none;
          
      }
      
    #left ul li a{
      font-family: Arial;
      font-size: 14px;
      text-align: center;
      display:flex;
      color:grey;
      align-items: center;
      }
      
      #right ul li{
          float: right;
          display: flex;
          vertical-align: bottom;
          list-style: none;
           padding-top: 11px;
            padding-bottom: 11px
      }
      
      #right ul li a{
          font-family: Arial;
          font-size: 14px;
          color:grey;
          display: flex;
          justify-content: flex-end;
          align-items: center;
         
}
