/*==================================================
	          Google Teffy Style
==================================================*/
/*you have no idea how many times I have start this again*/

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: none repeat scroll 0 0 #fff;
  color: #222;
  text-decoration: none;
}

header {
  width: 100%;
}

ol ul {
  list-style: none;
}

/* NAV BAR */
.top-nav {
  float: right;
  margin-right: 25px;
}

.top-nav li {
  display: inline-block;
  padding: 8px;
  text-align: rigth;
  padding: 5px 10px 0px 0px;
  vertical-align: bottom;
  margin: 5px 5px 0 0;
  font-size: 13px;
}
/*App Icon*/
.fa {
  font-size: 20px;
  vertical-align: top;
  opacity: 0.7;
  cursor: default;
}
.fa:hover {
  opacity: 1;
}

/*sign in button*/
#sign_in {
  background-color: #4887ef;
  margin-right: 25 px;
  padding: 7px 15px;
  border-radius: 3px;
  font-weight: bold;
  position: relative;
  top: 3px;
}
#sign_in a {
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
#sign_in:hover {
  box-shadow: 1px 1px 5px #999;
}

/*logo*/
.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  clear: both;
  padding-top: 112px;
  width: 100%;
  padding-bottom: 30px;
}

/*Search box*/
#search {
  width: 600px;
  margin: auto;
  border-radius: 22px;
}
.search input {
  border: 1px solid #d9d9d9;
  width: 600px;
  height: 36px;
  line-height: 27px;
  padding: 0 16px;
  display: block;
  border-radius: 15px;
  margin: 11px 4px;
  outline: none;
  font-family: arial;
  font-size: 17px;
}
/*search Buttons*/

.button {
  text-align: center;
  border-radius: 2px;
}

#gsearch {
  font: 14px Arial, sans-serif;
  width: 150px;
  height: 40px;
  color: #5f6368;
  background-color: #f2f2f2;
  border: none;
}

#lucky {
  font: 14px Arial, sans-serif;
  width: 150px;
  height: 40px;
  color: #5f6368;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

/*sorry if is not in Thai, I only speak Eng-Sp*/

#language {
  font: 10px;
  height: 30px;
}

#language a {
  color: blue;
}

#location {
  font-family: arial, san-serif;
  height: 35px;
  color: rgba(0, 0, 0, 0.54);
  font-size: small;
  margin-left: 30px;
  text-align: left;
  display: block;
}

.footer {
  bottom: 0 !important;
  position: absolute;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 0.5px solid Gainsboro;
}
hr {
  border: 0.5px solid Gainsboro;
}

#left ul li {
  float: left;
  display: left;
  padding: 5px 3px;
  padding-top: 14px;
  vertical-align: bottom;
  list-style: none;
}

#left ul li a {
  padding: 30px 8px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  position: static;
  color: grey;
}

#right ul li {
  float: right;
  display: right;
  padding: 30px 8px;
  padding-top: 14px;
  vertical-align: bottom;
  list-style: none;
}

#right ul li a {
  padding: 30px 8px;
  font-family: Arial;
  font-size: 14px;
  color: grey;
  text-align: center;
  position: static;
}
